# Test
test/gdscript/out/
test/project.godot
*.gd
*.uid
project.godot
# Reflaxe Build
_Build/

# Bindings
godot/

# Haxelib Files
extension_api.json
gdscript.zip
Submit.bat

# Projects and Personal Utilities
Build.bat
ReflaxeGDScript.code-workspace
_Build
